<div class="mx-auto max-w-7xl pt-10">
  <%= form_for @room do |f| %>
    <div class="flex flex-col mb-6">
        <%= f.label :name %>
        <%= f.text_field :name, class: "block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600" %>
    </div>
    <%= f.submit "Criar", class: "flex justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
  <% end %>
</div>
